/* body {
	background-color: lightgray;
}

.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.follow-me li {
  float: left;
  margin: 0 25px 25px 0;
  padding: 0;  
}

.follow-me li a::before {
  background-color: #fff;
  border-width: 1px;
  -webkit-border-radius: 2px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 70px;
  height: 126px; 
  line-height: 126px; 
  -webkit-transition: all .3s ease;
  transition: all .3s easeã€€all;
  text-align: center;
  width: 126px; 
}
.follow-me li a[href*="facebook.com"]::before       { border-color: #3b5998; color: #3b5998; content: "\f09a"; }
.follow-me li a[href*="twitter.com"]::before        { border-color: #55acee; color: #55acee; content: "\f099"; }

.follow-me li a:hover::before {
  color: #fff;
}
.follow-me li a[href*="facebook.com"]:hover::before       { background-color: #3b5998; }
.follow-me li a[href*="twitter.com"]:hover::before        { background-color: #55acee; } */
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
html {
  font-size: 20px;
}
body {
  background-color: #ccc;
  padding: 50px;
  text-align: center;
}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook{
  color: white;
}